body {
  margin: 0%;
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  min-height: 90vh;
  background-color: black;
  display: flex;
  box-sizing: border-box;
  padding: 0%;
}
.footer {
  position: relative;
}

.player-control {
  position: absolute;
  width: 100vw;
  left: 0.1rem;
  background: gray;
}

iframe {
  border-radius: 10px;
}

.Image {
  border-radius: 10px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.active {
  color: aqua;
  background-color: azure;
}
header {
  position: absolute;
  width: 100vw;
}

.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
}
.slidebarforloader {
  overflow-y: hidden;
  position: absolute;
  display: flex;
  z-index: -100;
  flex-direction: row;
  margin-top: 70px;
}
.tab {
  width: 300px;
  margin: 0%;
}
.tab li {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.tab ul {
  padding: 0%;
  display: flex;
  display: flex;
  margin: 0%;

  border-bottom: 1px solid black;
  justify-content: space-evenly;
}

.render {
  display: flex;
  justify-content: center;
}
.music-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-image: url("https://lh3.googleusercontent.com/FBzmUbR_buBx8r6ZKkB4zXrx08vktKQl_oXGxq4T72ggsCS3XniEvum784heg6ONb1DODfjgFUeLJFqe=w544-h544-l90-rj");
}

.loder {
  display: flex;
  min-width: 50vw;
  margin-top: 100px;
  justify-content: center;
}

.up-next-bar {
  display: flex;
  margin: 30px;
  margin-left: 5rem;
  border-radius: 10px;
  justify-content: flex-end;
}

.share-tools {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  width: 200px;
  height: 100px;
}

.controls {
  display: flex;
  justify-content: center;
}

.slider::after {
  content: "\A";
  width: 13px;
  position: absolute;
  height: 13px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}

.slider {
  background-color: rgb(255, 0, 0);
  width: 1rem;
  height: 0.4rem;
}
.icon:hover {
  background-color: rgba(120, 121, 120, 0.6);
  border-radius: 20px;
}

.icon {
  padding-inline: 10px;
  margin-left: 0.8rem;
}

hr {
  margin: 0%;
}
.rout {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.render-song-name img {
  /* border-radius: 10px; */
  margin: 10px;
}

.render-song-name {
  display: flex;
  margin: auto;
  width: 600px;
  height: 300px;
}
.controls-button {
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 0%;

  width: 200px;
  height: 60px;
}

.slidebar-music-control input {
  color: aqua;
  min-width: 100vw;
}

.bottom-slidebar {
  /* width: 100px; */
  /* background-color: aqua; */
  height: 10vh;
}

input::placeholder {
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
}
input::placeholder {
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.searchbar input {
  font-size: 20px;
  position: relative;
  right: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.427);
  border-radius: 10px;
  width: 500px;
  height: 40px;
}
